body {
  background-color: #F6F6F6;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 50px auto;
  padding: 30px;
  max-width: 1000px;
  background-color: #FFFFFF;
  border: 1px solid #CCC;
}

#query {
  width: 90%;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;

}
