body {
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 50px;
  padding: 30px;
  min-height: 500px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

h1 {
  margin-bottom: 50px;
}

#results {
  margin-top: 50px;
}
